@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&family=Quicksand&display=swap");

body {
  background-color: #4a7ce9;
  color: white;
  margin: 0;
}
* {
  font-family: "Cabin", sans-serif;
}
